In [67]:
import pandas as pd
from numpy.random import randn

In [76]:
outside0 = ["F1","F1","F1","F1","F1","F1","F1","F1","F1", "F2","F2","F2","F2","F2","F2","F2","F2","F2", "F3","F3","F3","F3","F3","F3","F3","F3","F3"]
outside1 = ["G1","G1","G1","G2","G2","G2","G3","G3","G3","G1","G1","G1","G2","G2","G2","G3","G3","G3","G1","G1","G1","G2","G2","G2","G3","G3","G3"]
inside = [1,2,3,1,2,3,1,2,3,1,2,3,1,2,3,1,2,3,1,2,3,1,2,3,1,2,3]
hier_index = list(zip(outside0, outside1, inside))
hier = pd.MultiIndex.from_tuples(hier_index)

In [77]:
hier_index

[('F1', 'G1', 1),
 ('F1', 'G1', 2),
 ('F1', 'G1', 3),
 ('F1', 'G2', 1),
 ('F1', 'G2', 2),
 ('F1', 'G2', 3),
 ('F1', 'G3', 1),
 ('F1', 'G3', 2),
 ('F1', 'G3', 3),
 ('F2', 'G1', 1),
 ('F2', 'G1', 2),
 ('F2', 'G1', 3),
 ('F2', 'G2', 1),
 ('F2', 'G2', 2),
 ('F2', 'G2', 3),
 ('F2', 'G3', 1),
 ('F2', 'G3', 2),
 ('F2', 'G3', 3),
 ('F3', 'G1', 1),
 ('F3', 'G1', 2),
 ('F3', 'G1', 3),
 ('F3', 'G2', 1),
 ('F3', 'G2', 2),
 ('F3', 'G2', 3),
 ('F3', 'G3', 1),
 ('F3', 'G3', 2),
 ('F3', 'G3', 3)]

In [78]:
hier

MultiIndex([('F1', 'G1', 1),
            ('F1', 'G1', 2),
            ('F1', 'G1', 3),
            ('F1', 'G2', 1),
            ('F1', 'G2', 2),
            ('F1', 'G2', 3),
            ('F1', 'G3', 1),
            ('F1', 'G3', 2),
            ('F1', 'G3', 3),
            ('F2', 'G1', 1),
            ('F2', 'G1', 2),
            ('F2', 'G1', 3),
            ('F2', 'G2', 1),
            ('F2', 'G2', 2),
            ('F2', 'G2', 3),
            ('F2', 'G3', 1),
            ('F2', 'G3', 2),
            ('F2', 'G3', 3),
            ('F3', 'G1', 1),
            ('F3', 'G1', 2),
            ('F3', 'G1', 3),
            ('F3', 'G2', 1),
            ('F3', 'G2', 2),
            ('F3', 'G2', 3),
            ('F3', 'G3', 1),
            ('F3', 'G3', 2),
            ('F3', 'G3', 3)],
           )

In [93]:
df = pd.DataFrame(randn(27,5), hier, ["A", "B","C","D","E"])

In [94]:
df

                         A         B         C         D         E
Alpha Beta Gamma
F1    G1   1      1.041359 -1.143324  0.827040  0.553478 -0.635981
           2     -0.278597 -0.652811 -0.481817  0.840563  1.351638
           3      1.356099  1.793556 -0.072998  0.172762 -0.167677
      G2   1     -1.935693  0.083742  1.000196  0.897847 -0.833404
           2      0.662336  1.122952 -0.519115  0.484476 -2.244998
           3      2.292238 -1.326337 -1.669672 -0.271629 -0.208924
      G3   1      0.108124 -2.379756  0.246311  0.555466 -0.065827
           2     -0.698279  1.314762 -0.117220 -0.048152  1.145888
           3      0.341971  0.386184  0.446047  0.077611  0.727824
F2    G1   1     -0.685467 -0.077094 -0.625369  0.240822  0.924051
           2     -0.135315  0.776494 -0.153765 -0.007482 -2.095455
           3      0.628485 -0.403766 -1.297103  0.563088  0.592071
      G2   1     -0.635834  0.851031  0.480063  2.100078 -0.830326
           2     -1.387962 -1.917721  0.317993 -1.812016  0.253899
           3      0.393451  1.715767  0.203228  0.278115  0.220250
      G3   1     -2.214244  0.108089  1.154242  2.470646 -1.265111
           2     -1.274674 -1.268481  0.316193  1.039686  0.788551
           3      1.262614  0.528169  0.670663  1.728666  0.121454
F3    G1   1      0.702048  0.346025  0.397315  0.487404 -0.632051
           2      0.887257 -2.449085 -0.533324 -1.209370 -1.613511
           3     -0.235130 -3.513645  1.753502  0.474012  0.466414
      G2   1      0.781305  0.601009  0.511765 -1.328030 -0.770319
           2     -0.846269  0.689085 -0.106428  0.361272  1.094237
           3     -0.171547 -1.170146  1.722563 -0.041539  0.371321
      G3   1     -0.369422 -0.564829 -0.148311  0.291687 -0.006649
           2      0.647267  1.243260  0.235009  1.083626 -1.230268
           3     -0.669137 -1.105565 -0.962392  0.467431  0.063116

In [95]:
df.loc["F1"].loc["G2"].loc[1]["A"]

-1.9356926069969036

In [96]:
df.index.names = ["Alpha","Beta","Gamma"]
df

                         A         B         C         D         E
Alpha Beta Gamma
F1    G1   1      1.041359 -1.143324  0.827040  0.553478 -0.635981
           2     -0.278597 -0.652811 -0.481817  0.840563  1.351638
           3      1.356099  1.793556 -0.072998  0.172762 -0.167677
      G2   1     -1.935693  0.083742  1.000196  0.897847 -0.833404
           2      0.662336  1.122952 -0.519115  0.484476 -2.244998
           3      2.292238 -1.326337 -1.669672 -0.271629 -0.208924
      G3   1      0.108124 -2.379756  0.246311  0.555466 -0.065827
           2     -0.698279  1.314762 -0.117220 -0.048152  1.145888
           3      0.341971  0.386184  0.446047  0.077611  0.727824
F2    G1   1     -0.685467 -0.077094 -0.625369  0.240822  0.924051
           2     -0.135315  0.776494 -0.153765 -0.007482 -2.095455
           3      0.628485 -0.403766 -1.297103  0.563088  0.592071
      G2   1     -0.635834  0.851031  0.480063  2.100078 -0.830326
           2     -1.387962 -1.917721  0.317993 -1.812016  0.253899
           3      0.393451  1.715767  0.203228  0.278115  0.220250
      G3   1     -2.214244  0.108089  1.154242  2.470646 -1.265111
           2     -1.274674 -1.268481  0.316193  1.039686  0.788551
           3      1.262614  0.528169  0.670663  1.728666  0.121454
F3    G1   1      0.702048  0.346025  0.397315  0.487404 -0.632051
           2      0.887257 -2.449085 -0.533324 -1.209370 -1.613511
           3     -0.235130 -3.513645  1.753502  0.474012  0.466414
      G2   1      0.781305  0.601009  0.511765 -1.328030 -0.770319
           2     -0.846269  0.689085 -0.106428  0.361272  1.094237
           3     -0.171547 -1.170146  1.722563 -0.041539  0.371321
      G3   1     -0.369422 -0.564829 -0.148311  0.291687 -0.006649
           2      0.647267  1.243260  0.235009  1.083626 -1.230268
           3     -0.669137 -1.105565 -0.962392  0.467431  0.063116

In [105]:
df.xs("G1", level = "Beta")

                    A         B         C         D         E
Alpha Gamma
F1    1      1.041359 -1.143324  0.827040  0.553478 -0.635981
      2     -0.278597 -0.652811 -0.481817  0.840563  1.351638
      3      1.356099  1.793556 -0.072998  0.172762 -0.167677
F2    1     -0.685467 -0.077094 -0.625369  0.240822  0.924051
      2     -0.135315  0.776494 -0.153765 -0.007482 -2.095455
      3      0.628485 -0.403766 -1.297103  0.563088  0.592071
F3    1      0.702048  0.346025  0.397315  0.487404 -0.632051
      2      0.887257 -2.449085 -0.533324 -1.209370 -1.613511
      3     -0.235130 -3.513645  1.753502  0.474012  0.466414

In [108]:
df.xs(["G1",1], level = ["Beta", "Gamma"])

              A         B         C         D         E
Alpha
F1     1.041359 -1.143324  0.827040  0.553478 -0.635981
F2    -0.685467 -0.077094 -0.625369  0.240822  0.924051
F3     0.702048  0.346025  0.397315  0.487404 -0.632051

In [109]:
df.xs(["G1",1], level = ["Beta", "Gamma"])["A"]

Alpha
F1    1.041359
F2   -0.685467
F3    0.702048
Name: A, dtype: float64

In [112]:
df.xs(["G1",1], level = ["Beta", "Gamma"])[["A","B"]]

              A         B
Alpha
F1     1.041359 -1.143324
F2    -0.685467 -0.077094
F3     0.702048  0.346025