In [3]:
import pandas as pd
import numpy as np

In [31]:
d = {"A":[1,2,np.nan],"B":[3,np.nan, -2], "C": [4, 5, 6]}
df  = pd.DataFrame(d)
df

     A    B  C
0  1.0  3.0  4
1  2.0  NaN  5
2  NaN -2.0  6

In [32]:
df.dropna(axis = 1)

   C
0  4
1  5
2  6

In [33]:
df.dropna(thresh = 1)

     A    B  C
0  1.0  3.0  4
1  2.0  NaN  5
2  NaN -2.0  6

In [34]:
df.dropna(thresh = 2)

     A    B  C
0  1.0  3.0  4
1  2.0  NaN  5
2  NaN -2.0  6

In [35]:
df.dropna(thresh = 3)

     A    B  C
0  1.0  3.0  4

In [36]:
df.interpolate(method = "linear")

     A    B  C
0  1.0  3.0  4
1  2.0  0.5  5
2  2.0 -2.0  6