In [2]:
import pandas as pd

In [3]:
p = pd.DataFrame([[0,2],[3,8],[2,7],[1,3],[5,13],[5,12],[4,9],[3,9],[0,3],[4,10]], columns = ["Endorsments", "Salary"])
# Endorsments = Number of Endorsments
# Salary= Annual salary in millions of dollars
p

   Endorsments  Salary
0            0       2
1            3       8
2            2       7
3            1       3
4            5      13
5            5      12
6            4       9
7            3       9
8            0       3
9            4      10

In [4]:
p = p.sort_values(by = "Endorsments")
p

   Endorsments  Salary
0            0       2
8            0       3
3            1       3
2            2       7
1            3       8
7            3       9
6            4       9
9            4      10
4            5      13
5            5      12

In [5]:
ux = round(p["Endorsments"].mean(),3)
sx = round(p["Endorsments"].std(),3)
uy = round(p["Salary"].mean(),3)
sy = round(p["Salary"].std(),3)
print(ux)
print(sx)
print(uy)
print(sy)

2.7
1.889
7.6
3.836

In [6]:
#Calculating correlation Coeff
import numpy as np
r = round(np.corrcoef(p[["Endorsments", "Salary"]].transpose())[0,1],3)
r

0.979

In [7]:
#using statsmodels library
import statsmodels.formula.api as smf
model = smf.ols(formula = 'Salary ~ Endorsments', data = p)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.958
Model:                            OLS   Adj. R-squared:                  0.952
Method:                 Least Squares   F-statistic:                     181.3
Date:                Sat, 12 Oct 2019   Prob (F-statistic):           8.87e-07
Time:                        22:34:01   Log-Likelihood:                -11.286
No. Observations:                  10   AIC:                             26.57
Df Residuals:                       8   BIC:                             27.18
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept       2.2336      0.478      4.670      0.002       1.131       3.337
Endorsments     1.9875      0.148     13.465      0.000       1.647       2.328
==============================================================================
Omnibus:                        1.054   Durbin-Watson:                   3.208
Prob(Omnibus):                  0.590   Jarque-Bera (JB):                0.750
Skew:                          -0.353   Prob(JB):                        0.687
Kurtosis:                       1.859   Cond. No.                         6.26
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

C:\Users\kalya\Anaconda3\lib\site-packages\scipy\stats\stats.py:1416: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  "anyway, n=%i" % int(n))

In [8]:
print(results.params)

Intercept      2.233645
Endorsments    1.987539
dtype: float64

In [9]:
#Using Sklean
from sklearn import linear_model
model1 = linear_model.LinearRegression()
predicted = model1.fit(X = p["Endorsments"].values.reshape(-1,1), y = p["Salary"])
s = round(predicted.coef_[0],3)
i = round(predicted.intercept_,3)
print(s)
print(i)

1.988
2.234

In [10]:
#predicted salary for 3 endorsements
#n = int(input('Enter the number of Endorsements: '))
n = 3
t = round(i + n*s, 3)
t

8.198

In [11]:
residual = round((7.5) - t, 3)
residual

-0.698

In [12]:
#n1 = int(input("Annual Salary: "))
n1 = 10
t1 = round((n1-i)/s)
t1

4.0

In [43]:
#Calculating SSE and SSR
from math import sqrt
#n = len(p["Endorsments"])
#y_predict = predicted.predict(p["Endorsments"].values.reshape(-1,1))

#SSR = np.sum((y_predict - p["Salary"])**2)

#print(y_predict)
#print(p["Salary"])

SSE = round(results.ssr,3)
SSR = round(results.ess,3)
SST = round(results.centered_tss,3)
print(SSE)
print(SSR)
print(SST)

#SST = np.sum((y_predict - uy)**2)
#print(SST)

a = round(sqrt(SSR/SST),3)
a

5.595
126.805
132.4

0.979

In [52]:
#Calculating Coefficient of determination

R2 = round(a**2,3)
R2

0.958

In [56]:
#Multiple lR

def c(ag,w,g):
    if g == "M":
        g = 0
    else:
        g = 1
    b = 32.3128 + ag*0.7997 + w*0.3502 + g*(-1.0030)
    return b

b = round(c(50,195,"M"),3)
b

140.587

In [60]:
b2 = c(55,180,"W")
print(b2)
print(150)
print(round(150 - b2,3))

138.32930000000002
150
11.671

In [2]:
AR = round(1-(((1-0.978)*9)/6),3)
AR

0.967